body {
    background-color: #214e6e;
    height: 100vh;
}

main {
    margin-top: 40px;
    margin-left: 50px;
}

h1 {
    color: white;
    font-family: 'Alata', sans-serif;
}

h2 {
    font-weight: normal;
    margin-bottom: 1rem;
}

a {
    color: #efff76;
    text-decoration: none;
    margin-top: 4px;
    margin-bottom: 4px;
    text-underline-offset: 3px;
}

a:hover {
    color: gray;
    text-decoration: underline;
}

.ripple {
    border-radius: 50%;
    border: 1px solid #ffffff59;
    width: 60px;
    height: 60px;
    position: absolute;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    z-index: -1;
}

.info {
    margin-left: 10px;
    font-family: 'Alata', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    animation-name: In;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.info .contact {
    display: flex;
    flex-direction: row;
}

.info li {
    padding-top: 1rem;
}

.info .description {
    padding: 15px;
}

.info .contact a {
    color: white;
    width: 50px;
    display: inline-flex;
    align-items: center;
}

.info img {
    width: 35px;
    height: 35px;
    float: left;
    filter: brightness(110%);
}

#email {
    cursor: pointer;
    text-underline-offset: 3px;
}

#email:hover {
    text-decoration: underline;
}

/* #copyright {
    position: absolute;
    bottom: 0;
} */

@keyframes ripple-effect {
    from {
        transform: scale(0.1);
        opacity: 1;
    }
    to {
        transform: scale(5);
        opacity: 0;
    }
}

@keyframes In {
    from {
        opacity: 0;
        transform: translate(0px, 150px);
    }
    ro {
        opacity: 1;
        transform: none;
    }
}

@media only screen and (max-width: 600px) {
    main {
        margin-left: 20px;
    }
}