header {
    margin: 30px auto 30px 20px;
    user-select: none;
    text-underline-offset: 4px;
}

.header-content {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Alata', sans-serif;
    margin-left: 10px;
}

.header-content:hover {
    filter: opacity(50%);
}

.active {
    text-decoration: underline;
}

#avatar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    transition: 0.3s ease-in;
}

#avatar img {
    width: 200px;
    border-radius: 50%;
    transition: 0.3s ease-in;
}

#avatar img:hover {
    filter: saturate(105%);
    transform: scale(1.05);
}

#copyright {
    padding-top: 50px;
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
    color: aliceblue;
    transition: opacity 1s ease-in;
    font-family: 'Alata', sans-serif;
    font-size: 15px;
    user-select: none
}

#copyright a {
    color: aliceblue;
    text-decoration: none;
}

#copyright a:hover {
    text-decoration: underline;
}