header {
    margin: 30px auto 30px auto;
}

.header-content {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Alata', sans-serif;
    margin-left: 10px;
}

.header-content:hover {
    filter: opacity(50%);
}
