header {
    margin: 30px auto 30px 20px;
}

.header-content {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Alata', sans-serif;
    margin-left: 10px;
}

.header-content:hover {
    filter: opacity(50%);
}

#copyright {
    margin-top: 100px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    color: aliceblue;
    transition: opacity 1s ease-in;
    font-family: 'Alata', sans-serif;
    font-size: 15px;
}

#copyright a {
    color: aliceblue;
    text-decoration: none;
}

#copyright a:hover {
    text-decoration: underline;
}