body {
    background-image: linear-gradient(to left top, #a1e7ff, #78bcdc, #5293b8, #2f6b95, #074572);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    user-select: none;
}

main {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#typing-name {
    display: block;
    margin: 0px auto 0px auto;
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    text-align: center;
    height: 40px;
    text-shadow: 0 0 5px white;
}

#copyright {
    position: absolute;
    bottom: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 800px) {
    #avatar img {
        width: 150px;
    }
    .link img {
        width: 70%;
    }
}