body {
    background-image: radial-gradient(circle, #848484, #848484, #4e4e4e, #343535, #1d1e1e);
    background-size: cover;
    margin: 0px;
}

main {
    min-height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#avatar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    transition: 0.3s ease-in;
}

#avatar img {
    width: 200px;
    border-radius: 28%;
    transition: 0.3s ease-in;
}

#avatar img:hover {
    filter: saturate(105%);
    transform: scale(1.05);
}

#typing-name {
    display: block;
    margin: 0px auto 0px auto;
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    text-align: center;
    height: 40px;
    text-shadow: 0 0 5px white;
}

#copyright {
    position: absolute;
    bottom: 0;
}

.link {
    width: 35px;
    margin: 10px 8px 10px 8px;
    display: inline-block;
    opacity: 0;
    transition: opacity 1s ease-in;
    animation-name: fadeIn;
    animation-delay: 3s;
    /* wait for avatar showing up and typing effect */
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.link:hover {
    filter: opacity(50%);
    transform: scale(1.1);
}

.link img {
    width: 100%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 800px) {
    #avatar img {
        width: 150px;
    }
    .link img {
        width: 70%;
    }
}