html {
    scroll-behavior: smooth;
}

body {
    background-color: #343535;
    margin: 0px;
}

main {
    min-height: 70vh;
    margin-left: 25vw;
    margin-right: 25vw;
    font-family: 'Noto Sans TC', sans-serif;
    animation-name: showUp;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

code {
    padding: 3px;
    background-color: rgba(255, 255, 255, 0.05);
    color: burlywood;
}

img {
    padding: 20px 0;
    max-width: 700px;
}

.post_content {
    padding-top: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.post_content h2 {
    margin-left: -10px;
    color: white;
    font-weight: normal;
}

.post_content h2 a {
    color: white;
    text-decoration: none;
    transition: 0.2s ease;
}

.post_content h2 a::before {
    content: "# ";
    color: rgb(56, 135, 161);
    ;
}

.post_content h2 a:hover {
    opacity: 0.5;
    text-decoration: none;
    color: white;
}

.post_content p {
    color: white;
    font-size: 18px;
    text-indent: 36px;
    line-height: 34px;
    letter-spacing: 0.4px;
    margin: 0;
}

.post_content ul {
    color: white;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0.4px;
    margin: 0;
}

.post_content a {
    color: #BABABA;
    text-decoration: none;
    margin-top: 4px;
    margin-bottom: 4px;
    text-underline-offset: 3px;
}

.post_content a:hover {
    color: gray;
    text-decoration: underline;
}

.attachment a {
    display: block;
}

.post_catalog {
    color: aliceblue;
    font-family: 'Noto Sans TC', sans-serif;
    text-decoration: none;
    font-size: 18px;
    text-underline-offset: 3px;
    padding: 15px;
}

.post_catalog a {
    color: aliceblue;
    text-decoration: none;
}

.post_catalog a:hover {
    text-decoration: underline;
}

.post_catalog .date {
    float: right;
    letter-spacing: 1px;
}

#title {
    margin-left: -20px;
    color: white;
    font-size: 30px;
    font-weight: normal;
}

#title a {
    color: white;
    text-decoration: none;
}

#title a:hover {
    opacity: 0.5;
    text-decoration: none;
    color: white;
}

#toc {
    font-size: 16px;
    position: fixed;
    right: 60px;
    top: 70px;
    color: white;
    font-family: 'Noto Sans TC', sans-serif;
}

#toc a {
    display: block;
    cursor: pointer;
    transition: 0.2s ease;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    text-decoration: none;
}

#toc a:hover {
    opacity: 0.5;
}

#toc a::before {
    content: "| ";
}

#top-button {
    font-family: 'Noto Sans TC', sans-serif;
    background-color: #7c8081;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    z-index: 1000;
    bottom: 30px;
    right: 30px;
    display: table;
    text-decoration: none;
    color: white;
    display: table;
}

#top-button:hover {
    opacity: 0.8;
    cursor: pointer;
}

#top-button span {
    vertical-align: middle;
    text-align: center;
    display: table-cell;
}

#copyright {
    margin-top: 100px;
}

@media (max-width: 750px) {
    main {
        margin-left: 50px;
        margin-right: 50px;
    }
    img {
        max-width: 260px;
    }
    #toc {
        display: none;
    }
}

@keyframes showUp {
    from {
        transform: translate(0, 100px);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}