header {
    margin: 30px auto 30px auto;
}

main {
    margin: 200px auto 190px auto;
}

footer {
    position: relative;
    text-align: center;
}

#avatar {
    display: block;
    width: 15%;
    margin: 0px auto 15px auto;
    border-radius: 28%;
    opacity: 0;
    transition: opacity 2s ease-in;
}

#typing-name {
    display: block;
    margin: 0px auto 0px auto;
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    text-align: center;  
}

#copyright {
    color: aliceblue;
    opacity: 0;
    transition: opacity 1s ease-in;
}

.header-content {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Alata', sans-serif;
    margin-left: 10px;
}
.header-content:hover {
    filter: opacity(50%);
}

.link {
    width: 35px;
    margin: 10px 8px 10px 8px;
    display: inline-block;
    opacity: 0;
    transition: opacity 1s ease-in;
}
.link:hover {
    filter: opacity(50%);
}

.about-content {
    color: white;
}