body {
    background-image: radial-gradient(circle, #848484, #848484, #4e4e4e, #343535, #1d1e1e);
    background-size: cover;
    margin: 0px;
}
header {
    margin: 30px auto 30px auto;
}

main {
    margin: 200px auto 175px auto;
}

#avatar {
    display: block;
    width: 15%;
    margin: 0px auto 15px auto;
    border-radius: 28%;
    opacity: 0;
    transition: opacity 2s ease-in;
}
@media (max-width: 800px) {
    main {
        margin-top: 230px;
    }
}

#typing-name {
    display: block;
    margin: 0px auto 0px auto;
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    text-align: center;
}

#copyright {
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    color: aliceblue;
    opacity: 0;
    transition: opacity 1s ease-in;
}

.header-content {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Alata', sans-serif;
    margin-left: 10px;
}
.header-content:hover {
    filter: opacity(50%);
}

.link {
    width: 35px;
    margin: 10px 8px 10px 8px;
    display: inline-block;
    opacity: 0;
    transition: opacity 1s ease-in;
}
.link:hover {
    filter: opacity(50%);
}
.link img {
    width: 100%;
}
@media (max-width: 800px) {
    .link img{
        width: 70%;
    }
}

.about-content {
    color: white;
    opacity: 0;
    transition: opacity 1s ease-in;
}