<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Day 8 jinja (3)</title>
    <link rel="icon" href="/img/me.jpg">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/post.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/gist.css">
</head>

<body>
    <header>
        <nav>
            <a href="/" class="header-content">SiriusKoan</a>
            <a href="/posts" class="header-content">Posts</a>
            <a href="/about.html" class="header-content">About Me</a>
        </nav>
    </header>
    <a id="top-button" href="#"><span>TOP</span></a>
    <div id="toc">
        <a href="#前言">前言</a>
        <a href="#範例">範例</a>
        <a href="#References">References</a>
    </div>
    <main>
        <h1 id="title"><a href="#">Day 8 jinja (3)</a></h1>
        <div class="post_content" id="前言">
            <h2><a href="#前言">前言</a></h2>
            <p>
                今天一樣是 jinja 的內容，會講到模板的繼承。這個在網頁有固定排版或是格式的時候很好用，不用一直重複複製貼上。就算網頁沒有固定排版，基本上 <code>head</code>
                也都是一樣的，所以也可以只繼承 <code>head</code> 的部分。簡單來說，我覺得這是一個一定會用到的功能，後面開始寫專案的時候也會用到。
            </p>
        </div>
        <div class="post_content" id="範例">
            <h2><a href="#範例">範例</a></h2>
            <p>先來看個範例。<code>base.html</code> 和 <code>index.html</code> 都必須放在 <code>templates</code> 裡面。</p>
            <script src="https://gist.github.com/SiriusKoan/0c11ac13d7ec199fd0b98a2a85f49e2d.js"></script>
            <p>
                <code>app.py</code> 和之前差不多，就把 <code>user</code> 傳入 jinja 處理。
            </p>
            <p>
                <code>base.html</code> 裡面出現了 <code>{% block %}</code>，他代表這是一個可以自由發揮的區塊，也就是非排版的部分，而 <code>block</code>
                後面接的
                <code>title</code> 和 <code>content</code> 則是這個 block 的名稱。我們在 <code>base.html</code>
                定義好一些區塊，然後交給其他模板去寫，以此處為例就是下面的 <code>index.html</code>。
            </p>
            <p>
                最後我們看到 <code>index.html</code>，他在最一開始就宣告說這個模板是從 <code>base.html</code> 繼承來的，所以他會照著剛剛
                <code>base.html</code> 的格式生成已經寫好的內容。接下來，我們把剛剛在 <code>base.html</code> 留下來的 block 一一填好。首先是
                <code>title</code>，就跟剛剛的寫法一樣，需要 <code>{% block title %}{% endblock %}</code>，但這次中間需要放入自己想要的網站標題，此處就用
                <code>Index Page</code> 為例。下一個是 <code>content</code>，在這邊我們就把 flask 傳過來的 <code>user</code>
                塞進去。這樣就完成了樣板的繼承，這時候打開瀏覽器應該可以看到它顯示出 <code>nav</code>、剛剛傳入的 <code>user</code>、<code>footer</code>。
            </p>
        </div>
        <div class="post_content attachment" id="References">
            <h2><a href="#References">References</a></h2>
        </div>
    </main>
    <footer>
        <p id="copyright">© 2021 <a href="https://github.com/SiriusKoan" target="_blank">SiriusKoan</a></p>
    </footer>
</body>

</html>