@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  font-family: 'Alata', sans-serif;
  background-color: #214e6e;
}

